- const maxRaiting = 5;
- const ratingYeldFullColor = "#0070E0";
- const ratingYeldEmptyColor = "#E8EAED";

mixin sliderView(slides)
  ul.slider__list
    each slide in slides
      li.slider__item
        article.slide
          img.slide__img(src=`img/${slide.img}` width="336" height="238.5" alt=slide.title)
          h3.slide__title= slide.title
          .slide__rating.rating
            span.rating__value= slide.rating.toFixed(1)
            .rating__bar
              svg(width="36" height="17" viewBox="0 0 36 17" fill="none" xmlns="http://www.w3.org/2000/svg")
                - for (let i = 0; i < maxRaiting; i++)
                  rect(x = 8 * i y="0.991333" width="4" height="15.8957" rx="2" fill= i < Math.floor(slide.rating) ? ratingYeldFullColor : ratingYeldEmptyColor)
          p.slide__description= slide.description
          .slide__add-wrapper
            button.slide__add-button
  .slider__controls
    .slider__button-wrapper.slider__button-wrapper--prev
      button.slider__button.slider__button--prev
    .slider__button-wrapper.slider__button-wrapper--next.slider__button-wrapper--active
      button.slider__button.slider__button--next
